{% extends "base_generic.html" %}

{% block content %}
<div class="book_list">
    <h1 class="book_list_head">Borrowed books</h1>

    {% if bookinstance_list %}
    <ul class="log4">

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}" >
        <a href="{% url 'book-detail' bookinst.book.pk %}"  class="button2" >{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}   
    </div>      
{% endblock %}

